malialtwni.com {
    log {
        output file caddy.log
    }
    # Enable Gzip and Zstd compression for faster downloads
    encode zstd gzip

    # Proxy everything to the Node.js application
    # The application will handle serving static files from the dist/public and uploads directories
    reverse_proxy localhost:5030
}
